* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  body: 100%;
}

body {
  scrollbar-color: #000000;
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
